.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .encrypt, .decrypt{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}
