<h2></h2>

<form (submit)="submitForm()"
      [formGroup]="inputsForm"
      class="form">

    <div class="form-content">
        <div class="form-group">
            <label [for]="'a'">
                Choose <b>a</b> parameter
            </label>

            <p-inputNumber
                    formControlName="a"
                    mode="decimal"
                    [min]="0"/>

            @if (inputsForm.controls["a"].hasError('required') && isFormSubmitted) {
                <small class="input-error-message">
                    <b>a</b> parameter is required
                </small>
            }
            @if(inputsForm.hasError('aOutOfRange')) {
                <b>a</b> must be less than <b>m</b>
            }
        </div>

        <div class="form-group">
            <label [for]="'X0'">
                Choose <b>X0</b> parameter
            </label>

            <p-inputNumber
                    formControlName="X0"
                    mode="decimal"
                    [min]="0"/>

            @if (inputsForm.controls["X0"].errors?.['required'] && isFormSubmitted) {
                <small class="input-error-message">
                    <b>X0</b> parameter is required
                </small>
            }
            @if(inputsForm.hasError('X0OutOfRange')) {
                <b>X0</b> must be less than <b>m</b>
            }
        </div>

        <div class="form-group">
            <label [for]="'c'">
                Choose <b>c</b> parameter
            </label>

            <p-inputNumber
                    formControlName="c"
                    mode="decimal"
                    [min]="0"/>

            @if (inputsForm.controls["c"].errors?.['required'] && isFormSubmitted) {
                <small class="input-error-message">
                    <b>c</b> parameter is required
                </small>
            }
            @if(inputsForm.hasError('cOutOfRange')) {
                <b>c</b> must be less than <b>m</b>
            }
        </div>

        <div class="form-group">
            <label [for]="'m'">
                Choose <b>m</b> parameter
            </label>

            <p-inputNumber
                    formControlName="m"
                    mode="decimal"
                    [min]="0"/>

            @if (inputsForm.controls["m"].errors?.['required'] && isFormSubmitted) {
                <small class="input-error-message">
                    <b>m</b> parameter is required
                </small>
            }
        </div>

        <div class="form-group">
            <label [for]="'sequenceLength'">
                Choose sequence length
            </label>

            <p-inputNumber
                    formControlName="sequenceLength"
                    mode="decimal"
                    [min]="0"/>

            @if (inputsForm.controls["sequenceLength"].errors?.['required'] && isFormSubmitted) {
                <small class="input-error-message">
                    <b>Numbers amount</b> parameter is required
                </small>
            }
            @if (inputsForm.controls["sequenceLength"].errors?.['max'] && isFormSubmitted) {
                <small class="input-error-message">
                    <b>Numbers amount</b> can not be grater than 100000
                </small>
            }
        </div>
    </div>

    <div class="btn-group">
        <p-button (onClick)="resetForm()"
                  severity="secondary"
                  styleClass="btn-form"
                  [outlined]="true"
                  label="Reset"/>

        <p-button styleClass="btn-form"
                  type="submit"
                  label="Generate"/>
    </div>
</form>

<div class="results-container">
    <div class="sequence-result">
        <label>Pseudo random numbers sequence: </label>
        <textarea pInputTextarea [value]="randomNumbersSequence" rows="4" cols="50"></textarea>
    </div>

    <div class="result">
        <label>Period: </label>
        <textarea pInputTextarea [value]="period" rows="2" cols="20"></textarea>
    </div>
</div>



